@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Outfit', 'Courier New', Courier, monospace;
  scroll-behavior: smooth;
  line-height: 1.5em;
  background: rgb(23, 23, 23);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
